/* First section 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300&display=swap");
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("james-harrison-vpOeXr5wmR4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Rajdhani", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.glass {
  height: 100% !important;
  width: 100% !important;
  background-image: url("james-harrison-vpOeXr5wmR4-unsplash.jpg");
  background-size: cover !important;
  background-position: center !important;
  -webkit-clip-path: inset(10em) !important;
          clip-path: inset(10em) !important;
  filter: blur(20px) !important;
  display: flex !important; 
  justify-content: center !important;
  align-items: center !important;
}

.drop-shadow {
  height: 100% !important;
  width: 100% !important;
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3)) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.drop-shadow:before {
  display: block !important;
  content: "" !important;
  position: absolute !important;
  top: 10em !important;
  height: calc(100% - 20em) !important;
  width: calc(100% - 20em) !important;
  border-top: 2px solid rgba(225, 225, 225, 0.2) !important;
  border-left: 1px solid rgba(225, 225, 225, 0.1) !important;
  border-right: 1px solid rgba(225, 225, 225, 0.3) !important;
  z-index: 2 !important;
}
.drop-shadow > span {
  position: absolute !important;
  z-index: 5 !important;
  color: white !important;
  font-size: 4em !important;
  letter-spacing: 0.75em !important;
  padding-left: 0.375em !important;
}

@media (max-width: 980px) {
  .glass {
    -webkit-clip-path: inset(5em) !important;
            clip-path: inset(5em) !important;
  }

  .drop-shadow:before {
    top: 5em !important;
    width: calc(100% - 10em) !important;
  }
  .drop-shadow > span {
    font-size: 4em !important;
  }
}
@media (max-width: 640px) {
  .drop-shadow > span {
    font-size: 2em !important;
  }
}


/* Second section 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */